@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  box-sizing: border-box;
  --main-color: rgb(0, 0, 0); /* Переменная черного цвета */
  --main-color-light: #dcd4d1; /* Переменная бежевого цвета */
  --logo-color-white: white; /* Переменная белого цвета */
  --blue-color: #6668ac; 
  overflow-x: hidden;
}
*,
::before,
::after {
  box-sizing: inherit;
}
/*Анимация*/
/*_______________________________________HEADER_____________________________________________*/
body {
  display: grid;
  grid-template-rows: repeat(6, auto) 60px;
  font-family: "Tahoma";
  overflow-x: hidden;
}
header {
  z-index: 4;
  display: grid;
  background-color: var(--main-color);
  grid-template-rows: 3fr 0px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__maintext {
  position: absolute;
  display: flex;
}
.header__logo p {
  color: var(--main-color-light);
  text-align: center;
}
.header__text-titel {
  font-size: 8rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Corbel";
  opacity: 0;
  transition: all 1s ease 0s;
}
.header__text-titel._active {
  opacity: 1;
  transition: all 1s ease 0s;
}
.header__menu {
  display: flex;
  background-color: var(--main-color);
  z-index: 1;
  box-shadow: 0 0 0.5em 0em var(--main-color);
  width: 100%;
  position: fixed;
  height: 60px;
  color: var(--main-color-light);
  justify-content: space-around;
  align-items: center;
  user-select: none;
}


/*___________________________MAIN biography_____________________________________________*/

.biography {
  background-color: var(--main-color-light);
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.biography__main {
  padding-top: 3%;
}
.biography__text,
.biography__text2 {
  font-size: 2rem;
  width: 80%;
  margin: auto;
  text-align: justify;
  z-index: 1;
  text-indent: 30px;
  line-height: 140%;
}
.biography__text strong {
  position: relative;
  font-weight: normal;
  white-space: nowrap;
}
.biography__text strong::after {
  background-image: url("images/strong_text.svg");
  content: "";
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  height: 0.3em;
  left: -0.2em;
  top: 100%;
  width: 100%;
}
.biography__moondog {
  align-self: center;
  justify-self: end;
}
.biography__animation {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}



/*_________________________________________________________________________________*/
.information {
  position: relative;
  background-color:black;
  background: linear-gradient(#dcd4d1 1%,#000000 3%);
}
.information__text-hp {
  display: flex;
  flex-direction: column;
  flex-basis:40%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

.information__text ._active {
  opacity: 1;
  transform: translate(0, 0);
}
.information__life {
  margin-top: -8%;
  color: #6668ac;
  font-size: 7.5rem;
}
.information__p{
  color: var(--main-color-light);
  font-size: 2rem;
}
.information__braille {
  color: rgb(92, 92, 92);
  margin-top: 14%;
  user-select: none;
}
.information__text {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 14%;
}
.information__photo-elem {
  background-color: var(--blue-color);
  border-radius: 50px;
  max-width: 100%;
  width: auto;
  margin: auto;
  pointer-events: none;
  user-select: none;
}
.svg  {
  transform: scaleY(-1);
  pointer-events: none;
  user-select: none;
}
.reviews__item {
  min-width: 0;
  background: black;
  z-index: 1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.wrapper {
  position: relative;
}
.wrapper__button {
  width: 100%;
}
#playMusic {
  background:#000000;
  color: var(--main-color-light);
  border: none;
  cursor: pointer;
  width: 65px;
  position: absolute;
  font-family: 'Tahoma',  Geneva, Verdana, sans-serif;
  top:20%;
  left: 47%;
  font-size: 0.7rem;
  user-select: none;
}


/*___________________________VIDEO TV________________________________________*/



.video-wrapper {
  background-color: var(--main-color-light);
  flex-direction: column;
  background-image: url(images/bkTV.svg);
  background-repeat: no-repeat;
  background-size:contain;
}
.video {
  z-index: 0;
  position: relative;
  height: 60vmax;
}
.video__content img {
  width: 800px;
  pointer-events: none;
}
.video-itam {
  position: absolute;
  top: 5%;
  left: 25%;
  width: auto;
  height: 40vmax;
  object-fit: cover;
  background-color: var(--blue-color);
  padding: 3%;
  border-radius: 4em;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.video-text {
  background-color:#000000;
  z-index: 1;
  color: antiquewhite;
  height: auto;
  box-shadow: 0 -14px 28px rgba(0, 0, 0, 0.25), 0 -10px 10px rgba(0, 0, 0, 0.22);
}









.tv-icon {
 position: absolute;
  object-fit: cover;
  top: 39vmax;
  left: 45vw;
  width: 65px;  
  transition: width 0.3s, height 0.5s, background-color 0.5s, transform 1s;
  pointer-events: auto;
}
.tv-next {
  position: absolute;
  object-fit: cover;
  top: 39vmax;
  left: 63vw;
  width: 65px;
  transition: width 0.3s, height 0.5s, background-color 0.5s, transform 1s;
  pointer-events: auto;
}
.tv-invert {
  position: absolute;
  object-fit: cover;
  top: 38.7vmax;
  left: 54vw;
  width: 65px;
  transform: rotate(180deg);
  transition: width 0.3s, height 0.5s, background-color 0.5s, transform 1s;
  pointer-events: auto;
}
.tv-invert:hover {
  width: 61px;
}
.tv-next:hover {
  width: 61px;
}
.tv-icon:hover {
  width: 61px;
}
#addSound2 {
  top: 38.9vmax;
  width: 61px;
}
#addSound2:hover {
   width: 65px;
}
.video-text h3 {
  text-transform: uppercase;
  font-size: 20vh;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(images/bctext.svg);
  background-repeat:no-repeat;
  background-size:cover;
}



.canva {
  position: relative;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  overflow: hidden;
  height: 1000px;
}

.svggg {
  position: absolute;
  top: 0;
  pointer-events: none;
}
.parallax__container {
  z-index: 4;
}
.containerp__text {
  position: absolute;
  display: flex;
  align-items:center;
  flex-direction: column;
  margin-top: 20%;
  color: var(--main-color-light);
}
.canva__text {
  font-weight: 900;
  font-size: 4vw;  
  text-transform: uppercase;
}

.canva__text-main {
  font-size: 1.7rem;
  text-align: center;
  width: 50%;
  margin-top: 2%;
}
.ymusic {
  color: var(--blue-color);
  font-size: 2rem;
  margin: 2% 0% 1% 0%;
  width: 20%;
  text-align:center ;
}
.container__yt-linc {
  font-weight: 900;
  color: var(--main-color-light);
  text-align: center;
  font-size: 4rem;
  background-color:var(--blue-color);
  border-radius:50px;
  padding: 1%;
  transition: 1s;
}
.container__yt-linc:hover {
  background-color:#ff0000;
  color: white;
}



.motion-path circle {
  fill: var(--main-color-light);
}
.paradox {
  background-color: var(--main-color);
  color: var(--main-color-light);
  font-size: 1.5rem;
}
.paradox__container {
  width: 80%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.container__glass, .container__reich {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.paradox__glass, .paradox__reich {
  max-width: 100%;
  z-index: 1;
}
.container__glass p,
.container__reich p {
  text-align: justify;
  z-index: 3;
}
.container__glass p::first-letter, .container__reich p::first-letter {
 color: #6668ac;
}
.container__glass-glass, .container__reich-reich {
  font-size: 3rem;
}
.container__glass-url, .container__reich-url {
  font-size: 0.7rem;
  text-decoration: none;
  color: var(--blue-color);
  margin: auto;
}
.container__reich {
  margin-left: auto;
}
.container__glass-anim {
  color: #6668ac;
  font-size: 1.5vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 6px;
  line-height: 1.2;
  margin: auto;
  position: absolute;
  left:40%;
  width: 70%;
  top:10%;
}
.container__gglass {
  position: relative;
  display: flex; 
  margin-left: 5%;
  margin-bottom: 6%;
}
.minimal {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 0;
}

/*________________________________FOOTER_____________________________________*/

footer {
  display: flex;
  background-image: url("images/6.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  z-index: 2;
  box-shadow: var(--main-color) 0 0 1em;
}

.footer__main {
  width: 80%;
  margin: auto;
  align-items: center;
  display: flex;
  gap: 15%;
}

footer .footer__menu {
  display: flex;
  gap: 1em;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: 0;
}
footer .footer__menu a {
  color: var(--main-color-light);
}
.footer__copir,
.footer__communiti {
  color: var(--main-color-light);
  font-size: 1rem;
}
.footer__logo {
  max-width: 40px;
  margin-left: auto;
  user-select: none;
}
.footer__common {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 0.5em;
}
.footer__logo:hover {
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 40%;
  transition: 1s;
}
.footer__logo:active {
  background-color: #6668acc7;
  border-radius: 50%;
  transition: 0s;
}

.footer-linc {
  margin-left: auto;
}
.footer__menu-svg:hover {
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 40%;
  transition: 1s;
}
.footer__menu-svg:active {
  background-color: #6668acc7;
  border-radius: 50%;
  transition: 0s;
}




/*________________ANIMATION CSS KEYFRAMES________________________________*/


#myImg {
  position: absolute;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }

  100% {
    border-radius: 40% 90%;
  }
}

@keyframes morph2 {
  0% {
    border-radius: 53% 47% 36% 64% / 55% 30% 70% 45%;
  }

  100% {
    border-radius: 40% 80%;
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}






/*___________________________ADAPTIVE MEDIA______________________________*/

@media (max-width: 3000px) {
  .video-itam {
    max-width: 50vw;
  }
}
@media (max-width: 1200px) {
 
  .header__text h1 {
    font-size: 6rem;
  }
  .biography .biography__text,
  .biography__text2 {
    font-size: 1.4rem;
  }
  .footer__copir,
  .footer__communiti {
    font-size: 1rem;
  }
  .information__life {
    font-size: 5rem;
  }
}
@media (max-width:900px) {
  .information__photo {
      width: 300px;
    }
  
    .information__braille {
      display: none;
    }
  footer {
      height: 200px;
      background: url("images/footer.backgr.min.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .footer__common,
    .footer__main {
      flex-flow: column;
    }
  }
@media (max-width: 768px) {
  .information h2 {
    font-size: 3rem;
  }
  .header__text h1 {
    font-size: 2rem;
  }

  header {
    height: 200px;
  }

  .biography__text strong {
    white-space: pre-wrap;
  }
  .biography__text strong::after {
    display: none;
  }
  .video-text h3 {
    font-size: 15vh;
  }
  .information__photo {
    width: 200px;
  }
  .information__braille {
    display: none;
  }
}
@media (max-width:550px) {
  .video-text h3 {
    font-size: 10vh;
  }
}



